database_hostname="localhost"
database_port="5432"
database_password="password123"
database_name="db_local"
database_username="postgres"
secret_key="one_big_hash"
algorithm="HS256"
access_token_expire_minutes=240